body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #007BFF;
    font-size: 50px; /* Adjust the font size as desired */
    font-weight: bold; /* Make the text bold */
    text-shadow: 1px 1px 2px #000000;
}
