{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- BootStrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Diving Logs</title>

</head>
<body>
<!-- 네비게이션바 -->
{% include "components/navbar.html" %}

<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>

    <h1>Diving Logs</h1>

    <br>
    <a href="{% url 'main:index' %}">Back to main page</a>
    <table>
        {% for list in loglist %}
            <ul>
                <li><a id="title" href="{{ list.pk }}/">{{ list.logName }}</a>, {{ list.diver }}</li>
            </ul>
        {% endfor %}
    </table>
    <button><a href="new_post/" style="color: white;">글쓰기</a></button>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap.min.js' %}"></script>

</body>
</html>
