<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logs</title>
</head>
<body>
    <h1>Logs</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'user_profile:profile' %}">{{ user.username }} (프로필 보기)</a><br>
        <a href="{% url 'common:logout' %}">로그아웃</a>
    {% else %}
    <a href="{% url 'common:login' %}">로그인</a>
    {% endif %}
    <br>
    <a href={% url 'main:index' %}>Back to main page</a>
    <table>
        {% for list in loglist %}
            <ul>
                <li><a href="{{ list.pk }}/">{{ list.logName }}</a></li>
            </ul>
        {% endfor %}
    </table>
    <button><a href="new_post/">글쓰기</a></button>
</body>
</html>