{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title>Modify Log</title>
</head>
<body>
    {% include 'components/navbar.html' %}

{#        print("diver: " + str(diver) + " diveNo: " + str(diveNo) + " date: " + str(date) + " location: " + str(location)#}
{#          + " buddy: " + str(buddy) + " timeIn: " + str(timeIn) + " timeOut: " + str(timeOut) + " weight: " + str(weight)#}
{#          + "barStart: " + str(barStart) + " barEnd: " + str(barEnd) + " maxDepth: " + str(maxDepth) + " minDepth: " + str(minDepth)#}
{#          + " temperature: " + str(temperature) + " comments: " + str(comments) + " images: " + str(images))#}

    <form action="{% url 'main:modify_log' log_id=log_id %}" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
          <input type="text" name="logName" class="form-control" id="floatingInput" placeholder="Integer only">
          <label for="floatingInput">Title (Name of the Log)</label>
        </div>
{#        Dive No <br>#}
{#        <input type="number" name="diveNo"><br>#}
        <div class="form-floating mb-3">
          <input type="number" name="diveNo" class="form-control" id="floatingInput" placeholder="Integer only">
          <label for="floatingInput">Diving No.</label>
        </div>

{#        Date<br>#}
{#        <input type="date" name="date"><br>#}
        <div class="form-floating mb-2">
            <input type="date" name="date" class="form-control" id="floatingInput">
            <label for="floatingInput">Date</label>
        </div>

{#        Location<br>#}
{#        <input type="text" name="location"><br>#}
        <div class="form-floating mb-3">
          <input type="text" name="location" class="form-control" id="floatingInput" placeholder="Where did you dive?">
          <label for="floatingInput">Location</label>
        </div>

{#        Buddy<br>#}
{#        <input type="text" name="buddy"><br>#}
        <div class="form-floating mb-3">
          <input type="text" name="buddy" class="form-control" id="floatingInput" placeholder="Who was your buddy?">
          <label for="floatingInput">Buddy</label>
        </div>

{#         Weight<br>#}
{#        <input type="number" name="weight"><br>#}
        <div class="form-floating mb-3">
          <input type="number" name="weight" class="form-control" id="floatingInput" placeholder="How heavy was your weight?">
          <label for="floatingInput">Weight</label>
        </div>

{#        Temperature<br>#}
{#        <input type="number" name="temperature" step="0.1"><br>#}
        <div class="form-floating mb-3">
            <input type="number" name="temperature" step="any" class="form-control" id="floatingInput" placeholder="How cold was the water?">
            <label for="floatingInput">Temperature (°C, float)</label>
        </div>
{#        Time In<br>#}
{#        <input type="time" name="timeIn"><br>#}
{#        Time Out<br>#}
{#        <input type="time" name="timeOut"><br>#}
        <div class="row g-3">
          <div class="col-sm">
              <h2>Time In</h2>
            <input type="time" name="timeIn" class="form-control" placeholder="Time In" aria-label="City">
          </div>
          <div class="col-sm">
              <h2>Time Out</h2>
            <input type="time" name="timeOut" class="form-control" placeholder="Time Out" aria-label="State">
          </div>
        </div>

{#        Start(Bar)<br>#}
{#        <input type="number" name="barStart"><br>#}
{#        End(Bar)<br>#}
{#        <input type="number" name="barEnd"><br>#}
        <h2>Air Remainder</h2>
        <div class="row g-3">
          <div class="col-sm">
              <h3>Start</h3>
            <input type="number" name="barStart" step="any" class="form-control" placeholder="Start (Bar)" aria-label="City">
          </div>
          <div class="col-sm">
              <h3>End</h3>
            <input type="number" name="barEnd" step="any" class="form-control" placeholder="End (Bar)" aria-label="State">
          </div>
        </div>

{#        Max Depth<br>#}
{#        <input type="number" name="maxDepth"><br>#}
{#        Min Depth<br>#}
{#        <input type="number" name="minDepth"><br>#}
        <div class="row g-3">
          <div class="col-sm">
              <h2>Max Depth</h2>
            <input type="number" name="maxDepth" step="any" class="form-control" placeholder="Max Depth" aria-label="City">
          </div>
          <div class="col-sm">
              <h2>Min Depth</h2>
            <input type="number" name="minDepth" step="any" class="form-control" placeholder="Min Depth" aria-label="State">
          </div>
        </div>

{#        Comments<br>#}
{#        <textarea rows="50" cols="100" name="comments"></textarea>#}
        <div class="form-floating">
            <h2>Comments</h2>
          <textarea name="comments" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Comments</label>
        </div>


        <div class="form-floating">
            <h2>Images</h2>
          <input type="file" name="images" class="form-control" id="inputGroupFile01">
        </div>

        <input type="submit" value="수정하기" class="btn btn-primary mt-2">

    </form>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap.min.js' %}"></script>

</body>
</html>