{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title>Modify Log</title>
    <style>
        .box {
            display: flex;
            justify-content: center;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 500px;
        }
        h1 {
            font-size: 60px;
            padding: 20px;
            font-weight: bold;
            margin-bottom: 0; /* Adjust as needed */
        }
    </style>
</head>
<body>
    {% include 'components/navbar.html' %}
    <h1>New Log</h1>
    <div class="box">
    <form action="{% url 'main:new_log' %}" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
          <input type="text" name="logName" class="form-control" id="floatingInput" required>
          <label for="floatingInput">Title (Name of the Post)</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" name="diveNo" class="form-control" id="floatingInput" required>
          <label for="floatingInput">dive #</label>
        </div>

        <div class="form-floating mb-3">
          <input type="date" name="date" class="form-control" id="floatingInput" required>
          <label for="floatingInput">date</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" name="location" class="form-control" id="floatingInput" required>
          <label for="floatingInput">location</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" name="buddy" class="form-control" id="floatingInput" required>
          <label for="floatingInput">buddy</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" name="weight" class="form-control" id="floatingInput" required>
          <label for="floatingInput">weight</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" name="temperature" class="form-control" id="floatingInput" required>
          <label for="floatingInput">temperature</label>
        </div>

        <div class="form-floating mb-3">
          <input type="time" name="timeIn" class="form-control" id="floatingInput" required>
          <label for="floatingInput">timeIn</label>
        </div>

        <div class="form-floating mb-3">
          <input type="time" name="timeOut" class="form-control" id="floatingInput" required>
          <label for="floatingInput">timeOut</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" name="barStart" class="form-control" id="floatingInput" required>
          <label for="floatingInput">start(Bar)</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" name="barEnd" class="form-control" id="floatingInput" required>
          <label for="floatingInput">end(Bar)</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" name="maxDepth" class="form-control" id="floatingInput" required>
          <label for="floatingInput">max depth</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" name="minDepth" class="form-control" id="floatingInput" required>
          <label for="floatingInput">min depth</label>
        </div>

        <div class="form-floating mb-3">
            <textarea rows="10" name="comments" class="form-control" id="floatingInput" placeholder="Integer only" style="height: auto;"></textarea>
            <label for="floatingInput">comments</label>
        </div>

        <div class="input-group mb-2">
            <label class="input-group-text" for="inputGroupFile01">images</label>
            <input name="images" type="file" class="form-control" id="inputGroupFile01">
        </div>

        <input type="submit" value="글쓰기" class="btn btn-primary mt-2">

    </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap.min.js' %}"></script>

</body>
</html>