{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>글쓰기 페이지</title>
</head>
<body>
<!-- 네비게이션바 -->
{% include "components/navbar.html" %}

    <h1>New Log</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        Dive No <br>
        <input type="number" name="diveNo"><br>
        Date<br>
        <input type="date" name="date"><br>
        Location<br>
        <input type="text" name="location"><br>
        Buddy<br>
        <input type="text" name="buddy"><br>
        Time In<br>
        <input type="time" name="timeIn"><br>
        Time Out<br>
        <input type="time" name="timeOut"><br>
        Weight<br>
        <input type="number" name="weight"><br>
        Start(Bar)<br>
        <input type="number" name="barStart"><br>
        End(Bar)<br>
        <input type="number" name="barEnd"><br>
        Max Depth<br>
        <input type="number" name="maxDepth"><br>
        Min Depth<br>
        <input type="number" name="minDepth"><br>
        Temperature<br>
        <input type="number" name="temperature" step="0.1"><br>
{#        Comments<br>#}
{#        <textarea rows="50" cols="100" name="comments"></textarea>#}
        <div class="form-floating">
          <textarea name="comments" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Comments</label>
        </div>


        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupFile01">Upload</label>
          <input type="file" name="images" class="form-control" id="inputGroupFile01">
        </div>


        <input type="submit" value="글쓰기">
    </form>

<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>

</body>
</html>