{% load static %}
{% load main_filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap.min.js' %}"></script>

    <title>{{ log.logName }}</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            padding-top: 20px;
        }


        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        h1, h2, h3, h4, h5 {
            color: #007BFF;
        }

        p {
            font-size: 16px;
            margin-bottom: 10px;
            color: #555;
        }

        .box-section {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .btn {
            margin: 10px;
        }

        .answer-section {
            border-top: 1px solid #ddd;
            margin-top: 20px;
            padding-top: 20px;
        }

        .badge {
            margin-left: 5px;
        }

    </style>
</head>
<body>
    {% include "components/navbar.html" %}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ log.logName }}</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <a href="/profile/{{ log.diver }}" class="list-group-item"><strong>Diver:</strong> {{ log.diver }}</a>
                <h5 class="list-group-item"><strong>Log #</strong> {{ log.diveNo }}</h5>
                <h2>Dive Info</h2>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Date:</strong> {{ log.date }}</li>
                        <li class="list-group-item"><strong>Temperature:</strong> {{ log.temperature }}</li>
                        <li class="list-group-item"><strong>Buddy:</strong> {{ log.buddy }}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Location:</strong> {{ log.location }}</li>
                        <li class="list-group-item"><strong>Weight:</strong> {{ log.weight }}</li>
                    </ul>
                </div>

                <h2>Time</h2>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Time In:</strong> {{ log.timeIn }}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Time Out:</strong> {{ log.timeOut }}</li>
                    </ul>
                </div>

                <h2>Air</h2>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Start(Bar):</strong> {{ log.barStart }}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>End(Bar):</strong> {{ log.barEnd }}</li>
                    </ul>
                </div>

                <h2>Depth</h2>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Max Depth:</strong> {{ log.maxDepth }}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Min Depth:</strong> {{ log.minDepth }}</li>
                    </ul>
                </div>
            </div>

            <div class="mt-3">
                <h2>Comments</h2>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{ log.comments }}</p>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <h2>Images</h2>
                <!-- Images Section -->
                {% if log.images %}
                    <div class="card">
                        <div class="card-body">
                            <img src="{{ log.images.url }}" alt="{{ log.logName }}" class="img-fluid">
                        </div>
                    </div>
                {% endif %}
            </div>

            {% if user.username == log.diver %}
                <div class="my-3">
                    <a href="{% url 'main:view_modify_log' log_id=log.id %}"
                       class="btn btn-sm btn-outline-secondary">edit</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

    {% if user.username and user.username != log.diver %}
        <a href="javascript:void(0)" data-uri="{% url 'main:log_vote' log_id=log.id %}"
            class="recommend btn btn-sm btn-outline-secondary"> Recommend
            <span class="badge rounded-pill bg-success">{{ log.voter.count }}</span>
        </a>
        <script>
            const recommend_elements = document.getElementsByClassName("recommend");
            Array.from(recommend_elements).forEach(function(element) {
                element.addEventListener('click', function() {
                    if(confirm("Are you sure you want to recommend this log ?")) {
                        location.href = this.dataset.uri;
                    }
                });
            });
        </script>
    {% else %}
        <div> Recommend
            <span class="badge rounded-pill bg-success">{{ log.voter.count }}</span>
        </div>
    {% endif %}


    <h2>Answers</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <ul class="list-group">
                    {% for answer in answer_list %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <td>
                                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                                {{ answer_list.paginator.count|sub:answer_list.start_index|sub:forloop.counter0|add:1 }}
                            </td>

                            <div class="mb-10">
                                {{ answer.content }}
                            </div>

                            <h4 class="fw-bold mb-2">
                                {% if request.user|lower == answer.author|lower %}
                                    <a href="{% url 'main:answer_modify' answer_id=answer.id  %}" class="badge-sm bg-warning rounded-pill me-0 px-2" style="color:white;">수정</a>
                                    <a href="{% url 'main:answer_delete' answer.id %}" onclick="return confirm('진짜 삭제하시겠습니까?')" class="badge-sm bg-danger rounded-pill me-0 px-2" style="color: white;">삭제</a>
                                    <script>
                                        document.getElementById('deleteButton').addEventListener('click', function (event) {
                                            event.preventDefault(); // Prevent the default link behavior

                                            // Show the confirmation dialog
                                            if (confirm('정말 삭제하시겠습니까?')) {
                                                // If the user clicks "OK", proceed with the deletion
                                                window.location.href = event.target.getAttribute('href');
                                            } else {
                                                // If the user clicks "Cancel", do nothing
                                            }
                                        });
                                    </script>
                                {% endif %}

                                {% if answer.author|lower == log.diver|lower %}
                                    <a style="color:red;" href="{% url 'user_profile:view_profile' user_id=answer.author %}">{{ answer.author }}(작성자)</a>
                                {% else %}
                                    <a href="{% url 'user_profile:view_profile' user_id=answer.author %}">{{ answer.author }}</a>
                                {% endif %}
                            </h4>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        {% if answer_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="처음으로">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ answer_list.previous_page_number }}" aria-label="이전">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled" aria-disabled="true">
                <span class="page-link" aria-hidden="true">&laquo;&laquo;</span>
            </li>
            <li class="page-item disabled" aria-disabled="true">
                <span class="page-link" aria-hidden="true">&laquo;</span>
            </li>
        {% endif %}

        <!-- Page numbers -->
        {% for page_number in answer_list.paginator.page_range %}
            {% if page_number >= answer_list.number|add:-5 and page_number <= answer_list.number|add:5 %}
                {% if page_number == answer_list.number %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ page_number }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if answer_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ answer_list.next_page_number }}" aria-label="다음">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ answer_list.paginator.num_pages }}" aria-label="마지막으로">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled" aria-disabled="true">
                <span class="page-link" aria-hidden="true">&raquo;</span>
            </li>
            <li class="page-item disabled" aria-disabled="true">
                <span class="page-link" aria-hidden="true">&raquo;&raquo;</span>
            </li>
        {% endif %}
    </ul>

    {% if user.username %}
         <!-- Answer Submission Form -->
        <div class="container box-section answer-section">
            <form action="{% url 'main:answer_create' log.id %}" method="post">
                {% csrf_token %}
                <textarea name="content" id="content" rows="3" class="form-control" placeholder="Write your answer here"></textarea>
                <input type="submit" value="Submit Comment" class="btn btn-primary">
            </form>
        </div>
    {% endif %}

    {% if user.username == log.diver %}
        <div class="container box-section">
            <a href="/home/">Back to List</a>
            <a href="/home/{{ log.pk }}/remove" class="btn btn-danger">Delete Log</a>
        </div>
    {% endif %}
    </body>
</html>