<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posting!</title>
</head>
<body>
    <h1>{{ log.logName}}</h1>
    <p>Dive No. {{ log.diveNo }}</p>
    <p>Date: {{ log.date }}</p>
    <p>Location: {{ log.location }}</p>
    <p>Buddy: {{ log.buddy }}</p>
    <p>Time In: {{ log.timeIn }}</p>
    <p>Time Out: {{ log.timeOut }}</p>
    <p>Weight: {{ log.weight }}</p>
    <p>Start(Bar): {{ log.barStart }}</p>
    <p>End(Bar): {{ log.barEnd }}</p>
    <p>Max: {{ log.maxDepth }}</p>
    <p>Min: {{ log.minDepth }}</p>
    <p>Temperature: {{ log.temperature }}</p>
    <h2>Comments</h2>
    <p>{{ log.comments }}</p>
    <!-- 이미지 보여주기 -->
    <h2>Images</h2>
    {% if log.images %}
        <img src = "{{ log.images.url }}" alt="" height="600">
        <br>
    {% endif %}

    <h5 class="border-bottom my-3 py-2">{{log.answer_set.count}}개의 답글이 있습니다.</h5>
    <div>
        <ul>
            {% for answer in log.answer_set.all %}
                <li>{{ answer.content }}</li>
            {% endfor %}
        </ul>
    </div>


    <form action="{% url 'main:answer_create' log.id %}" method="post">
    {% csrf_token %}
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="답변등록">
    </form>
    <a href="/home/">목록</a>
    <a href="/home/{{ log.pk }}/remove">삭제</a>
</body>
</html>