{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 20px;
            padding: 0;
            text-align: center;
            background-color: #f4f4f4;
            color: #000000;
        }

        h1 {
            font-size: 60px;
            padding: 10px;
            color: #007BFF;
            font-weight: bold;
            margin-bottom: 0; /* Adjust as needed */
        }

        h3 {
            font-size: 40px;
            color: #007BFF;
        }

        .form {
            max-width: 800px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-floating {
            width:70%;
        }

        .form input,
        .form select,
        .form textarea,
        .form button {
            width: 100%; /* or you can set a specific width in pixels or percentage */
            margin-bottom: 10px;
        }

        #majorInput, #kisuInput {
            display: none; /* Hide the input field */
        }
    </style>

{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">#}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        $(document).ready(function () {
            // License Dropdown
            $('.license-dropdown .dropdown-item').click(function (e) {
                e.preventDefault();
                var selectedValue = $(this).text();
                $('.license-input').val(selectedValue);
            });

            // Major Dropdown
            $('#floatingSelect').change(function () {
                var selectedValue = $(this).val();
                $('#majorInput').val(selectedValue);
            });
        });
    </script>

</head>
<body>
    {% include 'components/navbar.html' %}

    <div class="container mt-5">
        <h1>Edit Profile</h1>

        <form action="{% url 'user_profile:modify_profile' user_id=user_id %}" method="POST" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-floating mb-2">
                <input name="name" class="form-control" id="floatingInput" value="{% if profile.name %}{{ profile.name }}{% endif %}">
                <label for="floatingInput">Name</label>
            </div>

            <!-- Birthday -->
            <div class="form-floating mb-2">
                <input type="date" name="birthday" value="{% if profile.birthday %}{{ profile.birthday|date:'Y-m-d' }}{% endif %}" class="form-control" id="dateInput" oninput="updateHiddenInput()">
                <label for="floatingInput">Birthday</label>
            </div>

            <!-- Hidden input for Birthday -->
            <input type="hidden" id="birthdayInput" name="birthday">

            <script>
                function updateHiddenInput() {
                    var dateInput = document.getElementById('dateInput');
                    var hiddenInput = document.getElementById('birthdayInput');
                    hiddenInput.value = dateInput.value;
                }
            </script>


            <!-- License Dropdown -->
            <div class="form-floating input-group mb-3 license-dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">License</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Open Water</a></li>
                    <li><a class="dropdown-item" href="#">Advanced Diver</a></li>
                    <li><hr class="dropdown-divider"></hr></li>
                    <li><a class="dropdown-item" href="#">Master</a></li>
                    <li><a class="dropdown-item" href="#">Instructor</a></li>
                </ul>
                <input style="padding: 0;" name="diveLicense" type="text" value="{% if profile.diveLicense %}{{ profile.diveLicense }}{% endif %}" placeholder="Write down your license" class="form-control license-input px-2" aria-label="Text input with dropdown button">
            </div>

                <!-- Bootstrap JS and Popper.js (Bootstrap 5 includes Popper.js) -->
            <script src="{% static 'bootstrap.bundle.min.js' %}"></script>


            <script>
                // Get all elements with class 'dropdown-item' within the element with class 'license-dropdown'
                var dropdownItems = document.querySelectorAll('.license-dropdown .dropdown-item');

                // Iterate through each dropdown item and add a click event listener
                dropdownItems.forEach(function(item) {
                    item.addEventListener('click', function(e) {
                        e.preventDefault(); // Prevent the default behavior of the link
                        var selectedValue = this.textContent; // Get the text content of the clicked item
                        // Set the value of the input with class 'license-input' to the selected value
                        document.querySelector('.license-input').value = selectedValue;
                    });
                });

            </script>

            <!-- Profile Image -->
            <div style="width: 560px;">
                <label class="input-group-text" for="inputGroupFile01">Image 1. {% if profile.image %}{{ profile.image }}{% else %}Upload{% endif %}</label>
                <input name="image" type="file" class="form-control" id="inputGroupFile01">
            </div>

            {% if profile.is_ststMember %}
                <h3>Only for STST members!</h3>

                <!-- Student ID -->
                <div class="form-floating">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1">Student ID</span>
                      <input name="studentId" value="{% if profile.studentID %}{{ profile.studentID }}{% endif %}" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>

                <!-- Kisu -->
                <div class="form-floating minput-group mb-2">
                    <label class="input-group-text" for="inputGroupSelect01">Kisu</label>
                    <select class="form-select" id="inputGroupSelect01" onchange="updateKisuValue(this)">
                        <option selected>{% if profile.kisu %}{{ profile.kisu }}{% else %}Choose...{% endif %}</option>
                        <!-- Dynamically generate options from 1 to 40 using JavaScript -->
                        <script>
                            for (var i = 1; i <= 40; i++) {
                                document.write('<option value="' + i + '">' + i + '</option>');
                            }
                        </script>
                    </select>
                    <input type="text" name="kisu" id="kisuInput" class="form-control" readonly>
                </div>

                <script>
                    // JavaScript function to update the readonly input field with the selected value
                    function updateKisuValue(selectElement) {
                        // Get the selected value from the dropdown
                        var selectedValue = selectElement.value;

                        // Update the readonly input field with the selected value
                        document.getElementById('kisuInput').value = selectedValue;
                    }
                </script>


            <!-- Link to View Majors -->
            <!-- Major Dropdown -->
            <div class="form-floating mb-2">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" onchange="updateMajorValue(this)">
                    <option selected>{% if profile.major %}{{ profile.major }}{% else %}Open this select menu{% endif %}</option>
                    {% for major in majors %}
                        <option value="{{ major }}">{{ major }}</option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Major</label>
            </div>

            <script>
                function updateMajorValue(select) {
                    var selectedOption = select.options[select.selectedIndex].text;
                    document.getElementById("majorInput").value = selectedOption;
                }
            </script>

                <!-- JavaScript function to update hidden input on dropdown change -->

                <!-- Hidden input box for Major -->
                <input type="text" id="majorInput" name="major" readonly>


                <!-- Absent for this semester -->
                <div style="padding: 10px;" class="justify-content-center row form-floating">
                    <div class="col">
                        <label class="form-check-label" for="flexCheckDefault">
                            I'm absent this semester.
                        </label>
                    </div>
                    <div class="col-3">
                        <input name="absence" type="hidden" value="off"> <!-- Default value when not checked -->
                        <input name="absence" class="form-check-input form-check-lg" type="checkbox" {% if profile.is_absence %}checked{% endif %} id="flexCheckDefault" onchange="updateCheckboxValue(this)">
                    </div>
                </div>


                <script>
                    function updateCheckboxValue(checkbox) {
                        var hiddenInput = document.querySelector('input[name="checkbox"]');
                        hiddenInput.value = checkbox.checked ? 'on' : 'off';
                    }
                </script>
            {% endif %}

            <!-- Introduction -->
            <div class="form-floating">
                <textarea name="introduction" class="form-control" placeholder="{% if profile.introduction %}{{ profile.introduction }}{% else %}Introduction{% endif %}" id="floatingTextarea2" style
                ="height: 100px">{% if profile.introduction %}{{ profile.introduction }}{% else %}Introduction{% endif %}</textarea>
                <label for="floatingTextarea2">Introduction</label>
            </div>

        <div class="form-floating">
            <input type="submit" value="수정하기" class="btn btn-primary mt-2">
        </div>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap.min.js' %}"></script>

</body>
</html>