{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sea Creatures!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 20px;
            padding: 0;
            text-align: center;
            background-color: #f4f4f4;
            color: #333;
        }
    </style>
    <!-- Include Bootstrap CSS for styling -->
</head>
<body>
{% include "components/navbar.html" %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Diving Shops</h5>
                        <a href="{% url 'divepedia:index' %}" class="btn btn-primary">돌아가기</a>
                        {% for shop in shops %}
                            <div class="mt-3">
                                <strong>이름:</strong> {{ shop.name }}<br>
                                <strong>위치:</strong> {{ shop.location }}<br>
                                <strong>연락처:</strong> {{ shop.phone }}
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>
