{% load static %}
{% load main_filter %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'components/navbar.html' %}
    <h1>Board</h1>
    <div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <ul class="list-group">
                {% for post in postList %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <td>
                            <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                            {{ postList.paginator.count|sub:postList.start_index|sub:forloop.counter0|add:1 }}
                        </td>
                        <div class="text-center">
                            <h4 class="fw-bold mb-2"><a href="{{ post.pk }}/">{{ post.postName }}</a></h4>
                            <p class="mb-0">{{ post.writer }}</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="badge bg-primary rounded-pill me-2">{{ post.voter.count }} 추천</span>
                            <span class="badge bg-success rounded-pill">{{ post.answer4post_set.count }} 답글</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>



    <!-- Pagination -->
<ul class="pagination justify-content-center">
    {% if postList.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="처음으로">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ postList.previous_page_number }}" aria-label="이전">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% else %}
        <li class="page-item disabled" aria-disabled="true">
            <span class="page-link" aria-hidden="true">&laquo;&laquo;</span>
        </li>
        <li class="page-item disabled" aria-disabled="true">
            <span class="page-link" aria-hidden="true">&laquo;</span>
        </li>
    {% endif %}

    <!-- Page numbers -->
    {% for page_number in postList.paginator.page_range %}
        {% if page_number >= postList.number|add:-5 and page_number <= postList.number|add:5 %}
            {% if page_number == postList.number %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ page_number }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if postList.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ postList.next_page_number }}" aria-label="다음">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ postList.paginator.num_pages }}" aria-label="마지막으로">
                <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
        </li>
    {% else %}
        <li class="page-item disabled" aria-disabled="true">
            <span class="page-link" aria-hidden="true">&raquo;</span>
        </li>
        <li class="page-item disabled" aria-disabled="true">
            <span class="page-link" aria-hidden="true">&raquo;&raquo;</span>
        </li>
    {% endif %}
</ul>
    {% if user.is_authenticated %}
        <button><a href="view_new_post/" style="color: white;">글쓰기</a></button>
    {% endif %}
</body>
</html>
